<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Wiesen-Check</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">


</head>
<body>

<div class="container">
    <form method="POST" action="/"> 

        <h3>Erwünschte Arten erfassen</h3>
        <div class="autocomplete-wrapper">
            <input type="text" id="search-field" placeholder="Klicken zum Auswählen..." autocomplete="off">
            <div id="dropdown" class="dropdown-list">
                {% for flower in flowers %}
                <div class="dropdown-item" data-value="{{ flower }}">{{ flower }}</div>
                {% endfor %}
            </div>
        </div>

        <div id="selected-container"></div>
        
        <div id="hidden-inputs"></div>

        <hr> 
        
        <h3>Unerwünschte Arten</h3>
        
        <div class="option-group">
            <h4>Gräser > 35%</h4>
            <div>
                <label>
                    <input type="radio" name="Graeser_gt_35" value="true" required> Ja
                </label>
                <label>
                    <input type="radio" name="Graeser_gt_35" value="false"> Nein
                </label>
            </div>
        </div>

        <div class="option-group">
            <h4>Kräuter > 40%</h4>
            <div>
                <label>
                    <input type="radio" name="Krauter_gt_40" value="true" required> Ja
                </label>
                <label>
                    <input type="radio" name="Krauter_gt_40" value="false"> Nein
                </label>
            </div>
        </div>



        <button type="submit" class="submit-btn">Alle Daten absenden</button>
        
    </form> </div>



<script src="{{ url_for('static', filename='js/form.js') }}"></script>

</body>
</html>